
*{
margin: 0;
padding: 0;

}
.body{
    display: flex;
    background-color: whitesmoke ;
    position: relative;
    width: 1000px;
    height: 700px;
    }
    .body-image{
        height: 350px;
        width: 1000px;       
    }
.section{
 position: absolute;   
display: block;
margin-top: 40px;
margin-left: 500px;
margin-bottom: 20%px;
background-color: #fff;
border-radius: 15px;
height: 650px;
width: 450px;
}
.section-image{
    border-top: 15px;
}
.h1{
margin-bottom: 20px;
padding-top: 30px;
padding-left: 150px;
justify-content: center;
align-items: center;
}
.text{
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 200px;
    font-size: 18px;
    color: rgb(138, 142, 142);
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
.box{
    margin-top: 10px;
    display: flex;
    margin-left: 50px;
    background-color: whitesmoke;
    height: 90px;
    width: 355px;
    border-radius: 12px;

}
.music-icon{
    padding-right: -30px;
    margin: 12px;
    padding-top: 10px;
}
.div-text{
 padding-top:15px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font: bold;
 color: rgb(4, 4, 8);
 text-shadow: 1px;
 }
.cost{
 font-size: 16px;
 font: bold;
 margin-left: -85px;
 margin-top: 60px;
 color: rgb(138, 142, 142);
 padding-right: 40px;
 margin-right: 80px;

}
.change{
    margin-top: 20px;
    margin-bottom: 30px;
    color: blue;
    text-decoration: underline;
    font-size: 15px;
    border: none;
    font:bold;
    
}
.change:hover{
    color:rgb(138, 142, 142) ;
    text-decoration: none;
}