
*{
margin: 0;
padding: 0;

}
.body{
    display: flex;
    background-color:rgb(178, 220, 247) ;
    position: fixed;
    width: 1500px;
    }
    .body-image{
        
        width: 100%;       
    }
.section{
 position: absolute;   
display: block;
justify-content: center;
align-items: center;
margin-top: 40px;
margin-left: 500px;
background-color: #fff;
border-radius: 15px 15px 15px 15px;
height: 650px;
width: 450px;
}
.h1{
padding-top: 30px;
padding-left: 150px;
justify-content: center;
align-items: center;
}